<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <p>example Page {{currentYear}}</p>
    <p><a href="home"> home </a></p>
    <p><a href="about"> about </a></p>
    <p><a href="project"> project </a></p>
</body>
{{> footer}}
</html>



<!--   -->