<!DOCTYPE html>
<html>
{{> header}}
<body>
    <h1>{{pageTitle}}</h1>
    <p>{{pageDetail}}</p>
    <p><a href="home"> home </a></p>
    <p><a href="about"> about </a></p>
    <p><a href="project"> project </a></p>
</body>
{{> footer}}
</html>



<!--   -->