<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <p><a href="home.hbs"> home </a></p>
    <p><a href="about.hbs"> about </a></p>
    <p><a href="project.hbs"> project </a></p>

</body>
{{> footer}}
</html>



<!--   -->